

body {
    background: -webkit-linear-gradient(90deg, #afd9f7,#459cf7);
    background: linear-gradient(90deg, #afd9f7,#459cf7);
    background-attachment: fixed;
    font-family: 'Comic Sans MS';
}

.main_box {
    width: 720px;
    height: 480px;
    background-color: rgba(255, 255, 255);
    border-radius: 35px;
    border-color: black;
    border-width: 10px;
    position: absolute;
    left: 600px;
    top: 180px;
}

.weather_name {
    padding-left: 40px;
    padding-top: 20px;
    FONT-WEIGHT: 100;
    font-size: 30px;
}

.theme_button_pos {
    padding-left: 95%;
    padding-top: 1%
}

.theme_button {
    background-color: white;
    opacity: .3;
    width: 72px;
    height: 36px;
    border-radius: 13px;
    font-size: 16px;
    color: black;
    border-width: 0px;
}


.input {
    background: white;
    height: 40px;
    width: 500px;
    border-radius: 35px;
    font-size: 30px;
}

.input[type=text] {
    padding-left: 15px;
    font-family: 'Comic Sans MS';
}

.btn {
    height: 45px;
    width: 55px;
    border-radius: 25px;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    font-family: 'Comic Sans MS';
    position: relative;

}

.city {
    padding-left: 40px;
    margin-top: 10%;
    FONT-WEIGHT: 100;
    font-size: 30px;
}

.description {
    padding-left: 40px;
    padding-top: 5px;
    FONT-WEIGHT: 100;
    font-size: 30px;
}

.temp {
    padding-left: 40px;
    padding-top: 5px;
    FONT-WEIGHT: 100;
    font-size: 30px;
}

.humidity {
    padding-left: 40px;
    padding-top: 5px;
    FONT-WEIGHT: 100;
    font-size: 30px;
}

span {
    margin-top: 30px;
    float:left;
    clear:left;
}

